/* comment */
body {
  background-color: black;
}
h1 {
  color: FloralWhite;
  font-size: 60px;
  text-align: center;
}
p  {
  color: FloralWhite;
  text-align: center;
  border: 3px solid FloralWhite;
  border-radius: 5px;
}
